*.iws
*.iml
.idea
target
DPU_Template/.classpath
DPU_Template/.gitignore
DPU_Template/.project
DPU_Template/.settings/org.eclipse.core.resources.prefs
Q-ACC_1/.classpath
Q-ACC_1/.project
Q-ACC_1/.settings/org.eclipse.core.resources.prefs
Q-ACC_1/.settings/org.eclipse.jdt.core.prefs
Q-ACC_1/.settings/org.eclipse.m2e.core.prefs
*.ipr
