*.iws
*.iml
*.ipr
.idea
.project
.settings/
target
DPU_Template/.classpath
DPU_Template/.gitignore
DPU_Template/.project
DPU_Template/.settings/org.eclipse.core.resources.prefs
Q-C_2/.classpath
Q-C_2/.project
Q-C_2/.settings/org.eclipse.core.resources.prefs
Q-C_2/.settings/org.eclipse.jdt.core.prefs
Q-C_2/.settings/org.eclipse.m2e.core.prefs
Q-CU_1/.classpath
Q-CU_1/.project
Q-CU_1/.settings/org.eclipse.core.resources.prefs
Q-CU_1/.settings/org.eclipse.jdt.core.prefs
Q-CU_1/.settings/org.eclipse.m2e.core.prefs
QualityOntology/.classpath
QualityOntology/.project
QualityOntology/.settings/org.eclipse.core.resources.prefs
QualityOntology/.settings/org.eclipse.jdt.core.prefs
QualityOntology/.settings/org.eclipse.m2e.core.prefs
Q-ACC_1/.classpath
Q-ACC_1/.project
Q-ACC_1/.settings/org.eclipse.core.resources.prefs
Q-ACC_1/.settings/org.eclipse.jdt.core.prefs
Q-ACC_1/.settings/org.eclipse.m2e.core.prefs
Q-ACC_6/.classpath
Q-ACC_6/.project
Q-ACC_6/.settings/org.eclipse.core.resources.prefs
Q-ACC_6/.settings/org.eclipse.jdt.core.prefs
Q-ACC_6/.settings/org.eclipse.m2e.core.prefs
Q-ACC_4/.classpath
Q-ACC_4/.project
Q-ACC_4/.settings/org.eclipse.core.resources.prefs
Q-ACC_4/.settings/org.eclipse.jdt.core.prefs
Q-ACC_4/.settings/org.eclipse.m2e.core.prefs
Q-C_5/.classpath
Q-C_5/.project
Q-C_5/.settings/org.eclipse.core.resources.prefs
Q-C_5/.settings/org.eclipse.jdt.core.prefs
Q-C_5/.settings/org.eclipse.m2e.core.prefs